<h1>{{question.question_text}}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{choice.choice_text}}</li>
{% endfor %}
</ul>

<!--<?
ABOUT TEMPLATES::
The template system uses dot-lookup syntax to access variable attributes. 
In the example of {{ question.question_text }}, first Django does a dictionary lookup on 
the object question. 

Failing that, it tries an attribute lookup - which works, in this case. 
If attribute lookup had failed, it would've tried a list-index lookup.

Method-calling happens in the curly brackets: % for % loop: 
question.choice_set.all is interpreted as the Python code 
question.choice_set.all(), which returns an iterable of Choice objects and is suitable 
for use in the curly brackets % for % tag.
?> -->

<!--
{{question}}
-->

<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!--YOU NEED TO FIGURE OUT HOW TO CUSTOMIZE THIS TEMPLATE -->
         <li><a href="/polls/{{question.id }}/">{{question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No question details available. YOU NEED TO FIGURE OUT HOW TO CUSTOMIZE THIS TEMPLATE</p>
{% endif %}
-->