<!--
Use Django's template system to separate the design from Python by creating a template that the view can use.

First, create a directory called templates in your polls directory. Django will look for templates in there.

Django's TEMPLATE_LOADERS setting contains a list of callables that know how to import 
templates from various sources. One of the defaults is 
django.template.loaders.app_directories.Loader which looks for a "templates" subdirectory 
in each of the INSTALLED_APPS - this is how Django knows to find the labhelpers templates even 
though we didn't modify TEMPLATE_DIRS, as we did in Tutorial 2.

We could have all our templates together, in one big templates directory, and it would 
work perfectly well. However, this template belongs to the polls application, so unlike the 
admin template we created in the previous tutorial, we'll put this one in the application's 
template directory (labhelpers/templates) rather than the project's (templates). We'll discuss 
in more detail in the reusable apps tutorial why we do this.

Within the templates directory you have just created, create another directory called labhelpers, 
and within that create a file called index.html (changed to homepage.html). In other words, your template should be at 
labhelpers/templates/labhelpers/homepage.html. Because of how the app_directories template loader works 
as described above, you can refer to this template within Django simply as labhelpers/homepage.html.

Now we might be able to get away with putting our templates directly in labhelpers/templates 
(rather than creating another labhelpers subdirectory), but it would actually be a bad idea. 
Django will choose the first template it finds whose name matches, and if you had a template 
with the same name in a different application, Django would be unable to distinguish between 
them. We need to be able to point Django at the right one, and the easiest way to ensure 
this is by namespacing them. That is, by putting those templates inside another directory 
named for the application itself.
-->
{% if lab_list %}
    <ul>
    {% for lab in lab_list %}
        <li><a href="{% url 'labhelpers:lab_detail' lab.id %}">{{lab.lab_name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No labs are available.</p>
{% endif %}

<!--
"polls:detail" above points to the namespace "polls" of this app, defined in mysite/urls.py
-->

<!--
<li><a href="/polls/{{question.id }}/">{{question.question_text }}</a></li>    HARD CODED LINK :'0( 
-->

<!--
instead, remove specific URL reliance by using curly brackets % url % template tag
-->

<!--
The way this works is by looking up the URL definition as specified in the polls.urls.py module. 
You can see exactly where the URL name of ‘detail’ is defined below:

...
# the 'name' value as called by the % url % template tag
url(r'^(?P<question_id>\d+)/$', views.detail, name='detail'),
...
-->


<!--
Now let's update our index view in labhelpers/views.py to use the template:
-->