
div#header {
  position: fixed;
  left: -1px;
  top: 8px;
  width:100%;
  height:90px;
  /*
  z-index: 1;
  border-top-color: Blue;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: Blue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: Blue;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: Blue;
  border-right-style: solid;
  border-right-width: 1px;
  */

  background-color: #DCDCDC;
}


div#nav {
  position: absolute;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 90px;
  background-color:#FFF5EE;
}
  
div#content {
  position: absolute;
  /*
  margin-top: 100px;
  margin-left: 110px;
  margin-right: 210px;
  padding:15px;
  margin-left: 220px;
  width: 720px;
  */
  top: 110px;
  width: 100%;
  height: 1000px;

  background-color: #F0F8FF;

}

/*
div#left {
  position: absolute;
  left: 10px; 
  top: 100px; 
  width: 200px; 
  height: 400px; 
  
  padding:5px; float-left;
  border-left-color: #ffdab9;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #ffdab9;
  border-right-style: solid;
  border-right-width: 1px;
  

  background-color: #FFF5EE;
}


div#right {
  position: absolute;
  margin-left: 950px;
  top: 100px;
  width: 250px;

  background-color: #F5FFFA;
}
*/

div#footer {
  position: absolute;
  left: -1px;
  top: 530px;
  width:100%;
  height:90px;
  /*
  z-index: 1;
  border-top-color: Blue;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: Blue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: Blue;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: Blue;
  border-right-style: solid;
  border-right-width: 1px;
  */

  background-color: #808080; 
}