
div#header {
  position: fixed;
  left: -1px;
  top: 8px;
  width:100%;
  height:90px;
  background-color: #DCDCDC;
}

div#nav {
  position: fixed;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 95px;
  background-color:#FFF5EE;
}
  
div#content {
  position: absolute;
  top: 215px;
  width: 100%;
  height: 400px;
  background-color: #F0F8FF;
}

div#footer {
  position: absolute;
  left: -1px;
  top: 530px;
  width:100%;
  height:90px;
  background-color: #808080; 
}