
h1{
	display: inline;
	color: #black;
	letter-spacing: 1px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16;
	font-weight: bold;
	background-color: #white;
	padding-left: 15px;
	padding-bottom: 3px;
}

.sub-heading{
	background-color:#f7f7f7; /* light gray: #f7f7f7 #F5FFFA; */
	margin-right: -15px;
	border-top: 1px solid #333;
	-style: solid;
	border-top-width: thin;
	border-top-color: #585a5b;
	left: 15px;
	right: 15px;
	margin-left: -15px;
}

.coach-body{		
	padding: 30px;
	float: left;
	background-position: c;
	background-repeat: repeat-y;
	opacity: 1;
	margin-top: -16;
	margin-left: -15;
	margin-right: -15;
	-moz-box-shadow: inset 0 1px 1px #937c7b, 0 25px hsl(0, 0%, 96%);
	box-shadow: inset 0 1px 1px #937c7b, 0 25px hsl(0, 0%, 96%);
	border-left: 50px solid #f7f7f7;
	border-right: 50px solid #f7f7f7;
}

.coach-section{
	color: #278998;
	padding-bottom: 15;	
}