div#header {
  position: absolute;
  left: -1px;
  top: 8px;
  width:100%;
  height:90px;
  }
  
  
  
  div#main {
  margin-top: 100px;
  margin-left: 110px;
  margin-right: 110px;
  padding:15px;
}



div#left {
position: absolute;
left: -1px; 
top: 100px; 
width:100px; 
height:200px; 
padding:5px; float-left;
}