h1{
	display: inline;
	color: #black;
	letter-spacing: 1px;
	background-color: #white;
	padding-left: 15px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16;
	font-weight: bold;
	padding-bottom: 3px;
}

h2{
	
	color: #black;
	letter-spacing: 1px;
	background-color: #f7f7f7;
	margin-right: -15px;
	margin-top: -15px;
	text-indent: 25px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15;
	font-weight: bold;
	padding: 15px;
}

.sub-heading{
	
	color: #black;
	letter-spacing: 1px;
	background-color: #f7f7f7;
	margin-right: -15px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15;
	font-weight: bold;
	padding: 15px;
	border-top: 1px solid #333;
	-style: solid;
	border-top-width: thin;
	border-top-color: #585a5b;
	left: 15px;
	right: 15px;
	text-indent: 15px;
	margin-left: -15px;
}




.question-body{		
	padding: 30px;
	float: left;
	background-position: c;
	background-repeat: repeat-y;
	opacity: 1;
	margin-top: -16;
	margin-left: -15;
	margin-right: -15;
	-moz-box-shadow: inset 0 1px 1px #937c7b, 0 25px hsl(0, 0%, 96%);
	box-shadow: inset 0 1px 1px #937c7b, 0 25px hsl(0, 0%, 96%);
	border-left: 50px solid #f7f7f7;
	border-right: 50px solid #f7f7f7;
	
}


.question{
	color: #278998;
	padding-bottom: 15;	
}

.doc-image{
	display: inline;
    margin: 5px;
}

.input-item{
	display: inline-block;
	padding-top: 20px;
	padding-right: 10%;
	padding-left: 50px;
	line-height: .25in;
}